<div class="row">
  <div class="col-md-12">
    <div class="input-group mb-3">
      <input type="text" class="form-control" [value]="newListInputField" (input)="newListInputField = $event.target.value"
      aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn bg-danger" (click)="onTickClick.emit()">
          <i class="fa fa-check text-primary"></i>
        </button>
      </div>
    </div>
    <!-- <span>{{newListInputField}}</span> -->
  </div>
</div>
